.dashboard[b-moxbu2d1in] {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.asset-details[b-moxbu2d1in],
.output-input[b-moxbu2d1in] {
    width: 45%;
}

.asset-details[b-moxbu2d1in] {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.asset-table[b-moxbu2d1in] {
    width: 100%;
}

.asset-table th[b-moxbu2d1in],
.asset-table td[b-moxbu2d1in] {
    border: none;
    padding: 8px;
}

.asset-table th[b-moxbu2d1in] {
    text-align: left;
    font-weight: bold;
}

.component-list[b-moxbu2d1in] {
    margin-top: 20px;
}

.component-table[b-moxbu2d1in] {
    width: 100%;
}

.component-table th[b-moxbu2d1in],
.component-table td[b-moxbu2d1in] {
    border: none;
    padding: 8px;
}

.component-table th[b-moxbu2d1in] {
    text-align: left;
    font-weight: bold;
}