/* _content/BlazorApp1/Components/Layout/EmptyLayout.razor.rz.scp.css */
/* _content/BlazorApp1/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-nz1yiwl0um] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-nz1yiwl0um] {
    flex: 1;
}

.sidebar[b-nz1yiwl0um] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nz1yiwl0um] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-nz1yiwl0um]  a, .top-row[b-nz1yiwl0um]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-nz1yiwl0um]  a:hover, .top-row[b-nz1yiwl0um]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-nz1yiwl0um]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-nz1yiwl0um] {
        justify-content: space-between;
    }

    .top-row[b-nz1yiwl0um]  a, .top-row[b-nz1yiwl0um]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nz1yiwl0um] {
        flex-direction: row;
    }

    .sidebar[b-nz1yiwl0um] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nz1yiwl0um] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-nz1yiwl0um]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-nz1yiwl0um], article[b-nz1yiwl0um] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-nz1yiwl0um] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-nz1yiwl0um] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/BlazorApp1/Components/Layout/NavMenu.razor.rz.scp.css */
#brand-image[b-zjo6z1fhij] {
    height: 3rem; /* Adjust the height as needed */
    width: auto; /* This will maintain the aspect ratio of the image */
}

/* You may need to adjust these styles depending on your specific layout and design */
.top-row[b-zjo6z1fhij] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zjo6z1fhij] {
    display: inline-flex; /* Aligns the image nicely in the navbar */
    align-items: center; /* This will vertically center the image in the navbar */
}


.navbar-toggler[b-zjo6z1fhij] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-zjo6z1fhij] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-zjo6z1fhij] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zjo6z1fhij] {
    width: 120px; /* Adjusted for a neater look */
    margin-bottom: 2rem;
}

.bi[b-zjo6z1fhij] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-zjo6z1fhij] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-zjo6z1fhij] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-zjo6z1fhij] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-zjo6z1fhij] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-zjo6z1fhij] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zjo6z1fhij] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zjo6z1fhij]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-zjo6z1fhij]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-zjo6z1fhij]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-zjo6z1fhij] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-zjo6z1fhij] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zjo6z1fhij] {
        display: none;
    }

    .nav-scrollable[b-zjo6z1fhij] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.bottom-left-image[b-zjo6z1fhij] {
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.bottom-left-image img[b-zjo6z1fhij] {
    width: 200px; /* Adjust the width of the image */
    height: 75px; /* Maintain aspect ratio */
}

.submenu[b-zjo6z1fhij] {
    display: none;
}

.submenu.show[b-zjo6z1fhij] {
    display: block;
}

/* _content/BlazorApp1/Components/Pages/AssetDetails.razor.rz.scp.css */
table[b-moxbu2d1in] {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

th[b-moxbu2d1in], td[b-moxbu2d1in] {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th[b-moxbu2d1in] {
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    z-index: 100;
}

tr:nth-child(even)[b-moxbu2d1in] {background-color: #f2f2f2;}

tr:hover:not(:first-child)[b-moxbu2d1in] {
    background-color: #ddd;
}


table[b-moxbu2d1in] {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

th[b-moxbu2d1in], td[b-moxbu2d1in] {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th[b-moxbu2d1in] {
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    z-index: 100;
}

tr:nth-child(even)[b-moxbu2d1in] {background-color: #f2f2f2;}

tr:hover:not(:first-child)[b-moxbu2d1in] {
    background-color: #ddd;
}


@media (max-width: 768px) {
    body[b-moxbu2d1in] {
        padding: 10px;
    }

    table[b-moxbu2d1in] {
        font-size: 14px;
    }
}


/* Image and icon styles */
img[b-moxbu2d1in] {
    max-width: 100%;
    height: auto;
    display: block;
}

.icon[b-moxbu2d1in] {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
}


@keyframes fadeIn-b-moxbu2d1in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeIn[b-moxbu2d1in] {
    animation: fadeIn-b-moxbu2d1in 1s ease-in-out;
}

button:hover[b-moxbu2d1in], a:hover[b-moxbu2d1in] {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

h1[b-moxbu2d1in]{
    text-align: center;

}
/* _content/BlazorApp1/Components/Pages/Assets.razor.rz.scp.css */
body[b-5xcum0xatk] {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5; /* Light grey background */
    color: #333; /* Dark grey text */
    margin: 0;
    padding: 20px;
}

.table-container[b-5xcum0xatk] {
    background-color: #fff; /* White background for the table */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 4px; /* Rounded corners for the container */
    overflow-x: auto;
    margin-bottom: 20px;
    padding: 15px;
}

.table[b-5xcum0xatk] {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table th[b-5xcum0xatk], .table td[b-5xcum0xatk] {
    padding: 12px 8px; /* More padding for a spacious layout */
    text-align: left;
    border-bottom: 1px solid #e0e0e0; /* Light grey border for separation */
}

.table th[b-5xcum0xatk] {
    background-color: #fafafa; /* Very light grey for header */
    font-weight: normal; /* Typically QuickGrid headers are not bold */
}

.table tr:nth-child(even)[b-5xcum0xatk] {
    background-color: #f0f0f0; /* Alternating row color */
}

/* Adjust button styles as needed */

.pagination[b-5xcum0xatk] {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination .page-item[b-5xcum0xatk] {
    margin: 0 5px;
}

.pagination .page-link[b-5xcum0xatk] {
    color: #333;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #e9ecef;
    border-radius: 4px;
}

.pagination .page-item.active .page-link[b-5xcum0xatk],
.pagination .page-link:hover[b-5xcum0xatk] {
    background-color: #007bff;
    color: white;
}


button[b-5xcum0xatk] {
    background-color: #007bff; /* Primary button color */
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 4px; /* Rounded corners for the button */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    outline: none; /* Remove outline for a clean design */
    font-size: 16px; /* Slightly larger font for readability */
}

button:hover[b-5xcum0xatk], button:focus[b-5xcum0xatk] {
    background-color: #0056b3; /* Darker blue on hover/focus */
    color: #ffffff;
    outline: none; /* Ensure no outline on focus for a clean design */
}

/* Button disabled state */
button:disabled[b-5xcum0xatk] {
    background-color: #cccccc;
    cursor: not-allowed;
}
/* Ensure to style your select element and any other controls as needed */

/* Continue with additional styles for form elements, buttons, etc. */

/* Scrollbar Styles */
/* ... */

/* Additional styles */
/* ... */


.form-control[b-5xcum0xatk]{
    float: right;

}

.search-bar-container[b-5xcum0xatk] {
    text-align: right;
    margin-right: 20px;
}

.search-bar[b-5xcum0xatk] {
    width: 200px;
    display: inline-block;
}
/* _content/BlazorApp1/Components/Pages/Home.razor.rz.scp.css */
body[b-qq7g8le84l] {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body extends to at least the height of the viewport */
}

header[b-qq7g8le84l] {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo[b-qq7g8le84l] {
    height: 50px; /* Adjust as needed */
}

nav a[b-qq7g8le84l] {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

#loginButton[b-qq7g8le84l] {
    background-color: #800080;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.main[b-qq7g8le84l] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.service[b-qq7g8le84l] {
    background: #fff; /* or any color you want for the service box */
    margin: 10px;
    margin-bottom: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* subtle shadow instead of border */
    padding: 40px 40px; /* adjust padding as needed */
    text-align: center;
    width: calc(33.333% - 20px); /* adjust the width as per number of items per row */
    transition: transform 0.3s ease;
}

.service:hover[b-qq7g8le84l] {
    transform: translateY(-5px); /* subtle hover effect */
}

.service h2[b-qq7g8le84l] {
    margin-top: 0.5em; /* space above the title */
    margin-bottom: 0.5em; /* space below the title */
}

.service p[b-qq7g8le84l] {
    font-size: 0.9em; /* smaller font size for the paragraph */
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
    .service[b-qq7g8le84l] {
        width: calc(50% - 20px); /* two items per row */
    }
}

@media (max-width: 480px) {
    .service[b-qq7g8le84l] {
        width: 100%; /* full width on smaller screens */
    }
}


/* You will need to add the correct icons and additional styling as needed. */
.icon-support[b-qq7g8le84l], .icon-sales[b-qq7g8le84l], .icon-onboarding[b-qq7g8le84l], .icon-product[b-qq7g8le84l], .icon-quality[b-qq7g8le84l], .icon-result[b-qq7g8le84l] {
    height: 10px;
    margin-bottom: 20px;
    /* Add background images for icons here */
}

/* Add responsive styling as needed */



#intro h1[b-qq7g8le84l] {
    color: #333;
}

#intro p[b-qq7g8le84l] {
    color: #555;
}

#learnMoreButton[b-qq7g8le84l] {
    background-color: #800080;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}



/* _content/BlazorApp1/Components/Pages/Model.razor.rz.scp.css */
/* Add this to your CSS file */
.modal[b-plo340ty28] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content[b-plo340ty28] {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.modal-body[b-plo340ty28] {
    text-align: center;
}
/* _content/BlazorApp1/Components/Pages/SideBar.razor.rz.scp.css */
#brand-image[b-8cjy00g6kq] {
    height: 3rem; /* Adjust the height as needed */
    width: auto; /* This will maintain the aspect ratio of the image */
}

/* You may need to adjust these styles depending on your specific layout and design */
.top-row[b-8cjy00g6kq] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-8cjy00g6kq] {
    display: inline-flex; /* Aligns the image nicely in the navbar */
    align-items: center; /* This will vertically center the image in the navbar */
}


.navbar-toggler[b-8cjy00g6kq] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-8cjy00g6kq] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-8cjy00g6kq] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-8cjy00g6kq] {
    width: 120px; /* Adjusted for a neater look */
    margin-bottom: 2rem;
}

.bi[b-8cjy00g6kq] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-8cjy00g6kq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-8cjy00g6kq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-8cjy00g6kq] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-8cjy00g6kq] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-8cjy00g6kq] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-8cjy00g6kq] {
        padding-bottom: 1rem;
    }

    .nav-item[b-8cjy00g6kq]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-8cjy00g6kq]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-8cjy00g6kq]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-8cjy00g6kq] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-8cjy00g6kq] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-8cjy00g6kq] {
        display: none;
    }

    .nav-scrollable[b-8cjy00g6kq] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.bottom-left-image[b-8cjy00g6kq] {
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.bottom-left-image img[b-8cjy00g6kq] {
    width: 200px; /* Adjust the width of the image */
    height: 75px; /* Maintain aspect ratio */
}

.submenu[b-8cjy00g6kq] {
    display: none;
}

.submenu.show[b-8cjy00g6kq] {
    display: block;
}

