table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    z-index: 100;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover:not(:first-child) {
    background-color: #ddd;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    z-index: 100;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover:not(:first-child) {
    background-color: #ddd;
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }
}


/* Image and icon styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

button {
    background-color: #630D80;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    margin-top: auto;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    outline: none;
    font-size: 14px;
}

button:hover {
    transform: scale(1.05);
}


.disclaimer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.disclaimer-text {
    font-size: 0.9em;
    color: #666;
    margin: 0;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 1000; /* Ensure it's above other elements */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.popup {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001; /* Make sure it's above the semi-transparent background */
}
