@page "/Handleiding"

<main class="home-page">
	<h1>Handleiding</h1>
	<br />

    <img class="company-picture" src="imgs/vraagteken.jpg" alt="?" />
	<br />
    <div class="text right">
		<p>
            texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
            texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
            texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
            texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
            texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
		</p>
	</div>
    <br />
    <hr class="divider" />
    <br />

    <div class="content-container">
        <div class="image-container left">
            <img src="imgs/home.png" alt="homeplaatje" class="image1">
        </div>
        <br>
        <p class="text right">  
            Op de homepagina wordt een model van de simulatie gepresenteerd,
            waarin alle aanwezige assets zowel binnen als buiten zijn opgenomen.
            De assets die binnen het kader van het model worden weergegeven,
            corresponderen met de assets die zich fysiek binnen een gebouw bevinden.
            Daarentegen vertegenwoordigen de assets buiten het kader degene die zich
            werkelijkheid buiten het gebouw bevinden. Dit biedt een helder overzicht
            van alle assets.
        </p>
    </div>
            <br>


    <div class="content-container">
        <p class="text left">
            Op deze pagina staat een lijst met alle aanwezige assets die
            zich in de simulatie bevinden. In het eerste overzicht kun
            je de “Asset naam”, “Asset type” en “Status” van iedere asset.
            De status laat zien of de asset voldoet aan de juiste waarde.
            Verder kun je meer details van de assets zien door op de
            "Select"-button te klikken.
        </p>
        <div class="image-container right">
            <img src="imgs/assetlijst.png" alt="assetlijst" class="image2">
        </div>
                <br>

    </div>
    <br />
    <div class="content-container">
        <div class="image-container left">
            <img src="imgs/dashboard.png" alt="dashboard" class="image1">
        </div>
        <p class="text right">
            Na het klikken op de "Select"-button, kun je alle details
            vinden van de assets. Hierin worden verschillende gegevens
            weergegeven samen met de input en outputs van de assets.
        </p>
    </div>
            <br>


    <div class="content-container">
        <p class="text left">
            In het tabblad “Simulatie” is de pagina te vinden waarin je
            de simulatie kunt runnen. De “Run Simulatie”- button zorgt
            ervoor dat alle assets die in de simulatie aanwezig zijn
            worden gerund.
        </p>
        <div class="image-container right">
            <img src="imgs/simu.png" alt="simulatie" class="image2">
        </div>
    </div>
            <br>


    <br />
    <hr class="divider" />
    <br />

</main>