@page "/Handleiding"

<main class="home-page">
	<h1>Handleiding</h1>
	<br />

    <img class="company-picture" src="imgs/Img1.jpeg" alt="?" />
<br />
    <div class="text right">
		<p>
            Op de homepagina wordt een versimpeld model van de simulatie gepresenteerd. De PLC staat als middelpunt en eromheen staan de vijf meest voorkomende assets.
            Indien er op een asset in het model wordt geklikt, wordt je doorverwezen naar de details van de desbetreffende asset. 

		</p>
	</div>
    <br />	
    <hr class="divider" />
    <br />

    <div class="content-container">
        <div class="image-container left">
            <img src="imgs/Img2.jpeg" alt="homeplaatje" class="image1">
        </div>
        <br>
        <p class="text right">  
           Via de homepage kun je op drie andere pagina's terechtkomen. 
            Bekijk Simulatie → Via deze knop kom je op de simulatie- pagina terecht waar je de simulatie kunt runnen en de simulatie wijzigen. 
            Bekijk Assets → Via deze knop kom je op de asset- pagina terecht. Hierin vind je een lijst met alle beschikbare assets in de simulatie. Zie “Asset-Pagina”
            Bekijk Handleiding → Via deze knop kom je op de huidige handleiding pagina. Hierin wordt uitgelegd wat je in EMMA ONLINE kunt vinden.

        </p>
    </div>
            <br>


    <div class="content-container">
        <p class="text left">
            
Zowel via de sidebar als de homepage kun je op deze pagina terechtkomen. Hierin vind je een lijst met alle beschikbare assets in de simulatie. Via de “select- button” kun je de details van iedere asset vinden, zie “Asset details-pagina".

        </p>
        <div class="image-container right">
            <img src="imgs/Img3.jpeg" alt="assetlijst" class="image2">
        </div>
                <br>

    </div>
    <br />
    <div class="content-container">
        <div class="image-container left">
            <img src="imgs/Img4.jpeg" alt="dashboard" class="image1">
        </div>
        <p class="text right">
            Na het klikken op de “select- button” kom je op de “Asset details-pagina". Hierin kun je de eigenschappen en inputs/outputs van de asset vinden. Met deze assets kun je de simulatie zowel runnen als wijzigen.
            Ook kun je de eigenschappen van de assets wijzigen via de “edit- button” naast iedere property. 

        </p>
    </div>
            <br>


    <div class="content-container">
        <p class="text left">
            Onderaan de pagina kun je de simulatie runnen via de “Run simulatie- button”. Hieruit krijg je een grafiek met de bijbehorende gegevens. 
        </p>
        <div class="image-container right">
            <img src="imgs/Img5.jpeg" alt="simulatie" class="image2">
        </div>
    </div>
            <br>


    <br />
    <hr class="divider" />
    <br />

</main>