@layout Layout.EmptyLayout
@page "/home"
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

 <header>
        <img src="full_image_e1d2fd2ffe.png" alt="Bedrijfslogo" id="logo">
        <nav>
            <a href="#">Home</a>
            <a href="#">Over Ons</a>
            <a href="#">Contact</a>
        </nav>
        <button id="loginButton">Login</button>
    </header>

   <main class="main">
    <div class="service">
        <img src="favicon.png" alt="Support Icon" class="service-icon">
        <h2>Support</h2>
        <p>Ontvang deskundige ondersteuning bij het integreren van uw EMMA-systeem assets in onze gebruiksvriendelijke interface. Wij zorgen voor een soepele overgang en staan altijd klaar om al uw vragen te beantwoorden."</p>
    </div>

    <div class="service">
        <div class="icon-sales"></div>
        <h2>Sales</h2>
        <p>Verhoog de efficiëntie van uw verkoopprocessen met real-time data visualisatie van uw assets. Onze SCADA-interface biedt heldere inzichten die u helpen bij het nemen van snelle en geïnformeerde beslissingen.</p>
    </div>

    <div class="service">
        <div class="icon-onboarding"></div>
        <h2>Onboarding</h2>
        <p>Begin moeiteloos met onze intuïtieve SCADA-interface voor het EMMA-systeem. Wij leiden u door elke stap van het proces voor een naadloze integratie en een vliegende start..</p>
    </div>
    

    <div class="service">
        <div class="icon-product"></div>
        <h2>Product</h2>
        <p>Ontdek de kracht van onze op maat gemaakte SCADA-interface. Ontworpen om de complexe data van uw EMMA-systeem assets te stroomlijnen in een eenvoudig te begrijpen format.</p>
    </div>

    <div class="service">
        <div class="icon-quality"></div>
        <h2>Quality</h2>
        <p>Kwaliteit staat voorop in de visualisatie van uw assets. Onze SCADA-interface is ontwikkeld met precisie, waarbij we de hoogste normen hanteren om betrouwbaarheid en nauwkeurigheid te garanderen.</p>
    </div>

    <div class="service">
        <div class="icon-result"></div>
        <h2>Result</h2>
        <p>Zie het resultaat van een heldere assets visualisatie. Onze SCADA-interface vertaalt uw EMMA-systeem data naar actiegerichte inzichten, waardoor u uw operationele prestaties kunt optimaliseren.</p>
    </div>
</main>





