@page "/Model"
@rendermode InteractiveServer


<h3>Simulation Page</h3>

<button @onclick="RunSimulation">Run Simulation</button>


@if (simulationResults != null)
{
    <p>Results: @simulationResults</p>
}

@code {
    private string simulationResults;

    public async Task RunSimulation()
    {
        await Task.Delay(1000);
        await Run();
    }

    public async Task Run()
    {
        simulationResults = "Simulation completed. Here are your results: ...";
    }
}
