@page "/test"
@inject AssetStateService asset



<div id="image-container">
        <img src="imgs/ModelPlaatjeFix.jpeg" usemap="#image_map" alt="Model Image">
    </div>
<map name="image_map">
	<area alt="Laadpaal" title="Laadpaal" href="#" coords="139,49 139,4 149,1 171,14 175,43 251,87 252,91 137,157 48,108 48,101 " shape="polygon">
	<area alt="Batterij" title="Batterij" href="#" coords="406,86 493,37 546,66 546,136 457,184 407,155 " shape="polygon">
	<area alt="Kabel" title="Kabel" href="#" coords="444,237 476,237 509,250 541,235 586,236 587,269 586,321 513,321 446,310 " shape="polygon">
	<area alt="PLC" title="PLC" href="#" coords="236,219,347,330" shape="rect">
	<area alt="Netaansluiting" title="Netaansluiting" href="#" coords="70,223 95,222 102,243 147,251 156,264 109,265 123,323 44,326 60,263 13,265 17,251 66,240 " shape="polygon">
	<area alt="WKO" title="WKO" href="#" coords="477,454,62" shape="circle">
	<area alt="Zonnepaneel" title="Zonnepaneel" href="#" coords="56,397 81,397 78,383 147,385 191,487 160,491 164,501 94,504 " shape="polygon">
</map>

