table[b-moxbu2d1in] {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

th[b-moxbu2d1in], td[b-moxbu2d1in] {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th[b-moxbu2d1in] {
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    z-index: 100;
}

tr:nth-child(even)[b-moxbu2d1in] {background-color: #f2f2f2;}

tr:hover:not(:first-child)[b-moxbu2d1in] {
    background-color: #ddd;
}


table[b-moxbu2d1in] {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

th[b-moxbu2d1in], td[b-moxbu2d1in] {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th[b-moxbu2d1in] {
    background-color: #f8f8f8;
    position: sticky;
    top: 0;
    z-index: 100;
}

tr:nth-child(even)[b-moxbu2d1in] {background-color: #f2f2f2;}

tr:hover:not(:first-child)[b-moxbu2d1in] {
    background-color: #ddd;
}


@media (max-width: 768px) {
    body[b-moxbu2d1in] {
        padding: 10px;
    }

    table[b-moxbu2d1in] {
        font-size: 14px;
    }
}


/* Image and icon styles */
img[b-moxbu2d1in] {
    max-width: 100%;
    height: auto;
    display: block;
}

.icon[b-moxbu2d1in] {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
}


@keyframes fadeIn-b-moxbu2d1in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeIn[b-moxbu2d1in] {
    animation: fadeIn-b-moxbu2d1in 1s ease-in-out;
}

button[b-moxbu2d1in] {
    background-color: #630D80;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    margin-top: auto;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    outline: none;
    font-size: 14px;
}

button:hover[b-moxbu2d1in] {
    transform: scale(1.05);
}


.disclaimer[b-moxbu2d1in] {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.disclaimer-text[b-moxbu2d1in] {
    font-size: 0.9em;
    color: #666;
    margin: 0;
}