h1[b-g7cw5nas2p] {
    margin-left: 60px;
    color: #630d80;
}

p[b-g7cw5nas2p] {
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0 40px; /* Consistent spacing around text */
}

.p1[b-g7cw5nas2p] {
    text-align: center;
}

.company-picture[b-g7cw5nas2p] {
    display: block;
    margin: 50px;
    width: 800px;
    height: 450px;
}

.divider[b-g7cw5nas2p] {
    width: 100%;
    margin: auto;
    height: 2px;
    background-color: gray;
}

.content-container[b-g7cw5nas2p] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0; /* Added some spacing */
}

.image-container[b-g7cw5nas2p] {
    border: 1px solid black;   
}

.image1[b-g7cw5nas2p] {
    width: 500px;
    height: 300px;
}

.image2[b-g7cw5nas2p] {
    width: 500px;
    height: 300px;
}

.text[b-g7cw5nas2p] {
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0 40px; /* Consistent spacing around text */
}

.left .text[b-g7cw5nas2p] {
    margin-right: 130px;
}

.right .text[b-g7cw5nas2p] {
    margin-left: 130px;
}